.App {
  font-family: "Merienda", cursive;
}

.div-nav {
  z-index: 1;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  position: fixed;
  margin-right: 0;
  top: 0;
  background-color: white;
}

.div-nav p {
  font-size: 10px;
  color: #838383;
}

.div-nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-nav .nav-right p {
  margin-left: 20px;
}

.div-information {
  margin-top: 120px;
}

.div-information table {
  border-style: outset;
  border-width: 5px;
  border-color: #eae7dc;
  background-color: #838383;
}

.div-information h1 {
  color: #e66767;
  font-family: "Concert One", cursive;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.div-information td {
  font-size: 13px;
}

.div-information th {
  font-size: 18px;
  font-family: "Concert One", cursive;
  color: #eae7dc;
}

.div-information .div-date {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Merienda", cursive;
  text-align: center;
  width: 500px;
  border-radius: 20px;
}

.div-login {
  padding: 30px;
  border-radius: 20px;
  opacity: 0.5;
  opacity: 0.9;
  font-family: "Merienda", cursive;
  margin-top: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  -webkit-box-shadow: 10px 10px 8px #6e6d6d;
          box-shadow: 10px 10px 8px #6e6d6d;
  background-color: #dee3e2;
}

.div-login button {
  width: 100%;
}

.div-login .image-login {
  margin: auto;
  text-align: center;
}

.div-hospital_profile {
  margin-top: 130px;
  font-family: "Monoton", cursive;
}

.div-hospital_profile .div-profile_info {
  text-align: center;
  background-color: #55efc4;
  height: 300px;
}

.div-hospital_profile hr {
  background-color: #e66767;
}

.div-hospital_profile .image-viruses {
  opacity: 0.5;
  outline: none;
}

.div-card_dokter {
  margin-top: 50px;
}

.div-card_dokter .card-dokter img {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
}

.div-card_dokter2 {
  margin-left: 400px;
  margin-top: 50px;
}

.div-card_dokter2 .card-dokter img {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
}

.div-monitor {
  margin-top: 100px;
}

.div-monitor h3 {
  color: #e66767;
}

.div-monitor h1 {
  font-weight: bolder;
  font-size: 50px;
}

.div-monitor h2 {
  font-weight: bolder;
  font-size: 40px;
  color: #ffeaa7;
}

.div-monitor p {
  font-size: 20px;
}

.div-monitor h5 {
  font-size: 25px;
  font-weight: bold;
}

.div-controller {
  margin-top: 150px;
  text-align: center;
  z-index: -1;
}

.div-controller .div-antrian_card {
  z-index: -1;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-controller .div-antrian_card .card-poli {
  margin-top: 100px;
  margin: 5px;
  width: 300px;
}

.div-controller .div-antrian_card .card-poli hr {
  background-color: #ea8685;
}

.div-controller .div-antrian_card .card-poli .button_controller {
  margin: 20px auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.div-controller .div-antrian_card .card-poli .button_controller p {
  margin-right: 10px;
  background-color: #e66767;
  padding: 5px;
  margin-right: 10px;
  color: white;
  width: 80px;
}

.div-controller .div-antrian_card .card-poli .button_controller p:hover {
  opacity: 0.7;
}

.div-footers {
  height: 250px;
  background-color: #ea8685;
  margin-bottom: 0;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #55efc4;
}

.div-footers .col-2 {
  margin: auto 0;
}

.div-footers .col-2 img {
  width: 40px;
  height: 40px;
}

.div-footers .title-info_footer {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.div-time {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.div-date {
  background-color: #ea8685;
  padding: 5px 10px;
  color: black;
  width: 200px;
  text-align: center;
  margin: auto;
}
/*# sourceMappingURL=index.css.map */