$font-one: 'Londrina Outline', cursive;
$font-two: 'Merienda', cursive;
$font-three: 'Monoton', cursive;
$font-four:'Concert One', cursive;
$primary-color: #eae7dc;
$secondary-color: #e66767;
$third-color:#ea8685;
$fourth-color:#ffeaa7;
$fifth-color:#55efc4;
$sixth-color:#0097e6;
$seventh-color:#838383;

.App{
  font-family: $font-two;
}

.div-nav{
  p{
    font-size:10px;
    color: $seventh-color;
  }
  z-index:1;
  padding-top:20px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  margin-right:0;
  top:0;
  background-color: white;
  .nav-right{
    display: flex;
    p{
      margin-left:20px;
    }
  }
}

.div-information{
  margin-top: 120px;
  
  table{
    border-width: 5px;
    border-color: $primary-color;
    background-color: $seventh-color;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  
  h1{
    color:$secondary-color;
    font-family: $font-four;
    text-align:center;
    margin-bottom: 30px;
    font-size: 40px;
  }
  td{
    font-size: 13px;
  }
  th{
    font-size:18px;
    font-family: $font-four;
    color: #eae7dc;
  }
  .div-date{
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: $font-two;
    text-align: center;
    width:500px;
    border-radius: 20px;
  }
}

.div-login{
  padding:30px;
  border-radius: 20px;
  opacity:0.5;
  opacity: 0.9;
  font-family: $font-two;
  margin-top: 100px;
  justify-content: center;
  width:300px;
  height:370px;
  box-shadow: 10px 10px 8px #6e6d6d;
  background-color: #dee3e2;
  button{
    width: 100%;
  }
  .image-login{
    margin: auto;
    text-align: center;
  }
}

.div-hospital_profile{
  margin-top: 130px;
  font-family: $font-three;
  .div-profile_info{
    text-align:center;
    background-color:$fifth-color;
    height: 300px;
  }
  hr{
    background-color: $secondary-color;
  }
  .image-viruses{
    opacity: 0.5;
    outline:none;
  }
}



.div-card_dokter{
  margin-top:50px;
  .card-dokter{
   img{
     width:250px;
     height:250px;
     border-radius: 1000px;
   }
  }
}

.div-card_dokter2{
  margin-left: 400px;
  margin-top:50px;
  .card-dokter{
   img{
     width:250px;
     height:250px;
     border-radius: 1000px;
   }
  }
}

.div-monitor{
  margin-top:100px;
  h3{
    color: $secondary-color;
  }
  h1{
    font-weight: bolder;
    font-size:50px;
  }
  h2{
    font-weight: bolder;
    font-size:40px;
    color: $fourth-color;
  }
  p{
    font-size: 20px;
  }
  h5{
    font-size:25px;
    font-weight: bold;
  }
}

.div-controller{
  margin-top:150px;
  text-align: center;
  z-index: -1;
  .div-antrian_card{
    z-index: -1;
    margin: auto;
    width:100%;
    justify-content: center;
    .card-poli{
      border-radius: 15px;
      position: relative;
      background-color:#dee3e2;
      margin-top:100px;
      margin:5px;
      width:350px;
      height:310px;
      
      &:after{
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        right: 10px;
        left: auto;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: #777;
        -webkit-box-shadow: 0 15px 15px #777;
        -moz-box-shadow: 0 15px 15px #777;
        box-shadow: 0 15px 15px #777;
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
      }
      hr{
        background-color: $third-color;
        margin-top:30px;
      }
      .button_controller{
        margin: 20px auto;
        text-align: center;
        justify-content: center;
        font-size:15px;
        p{
          margin-right:10px;
          background-color:$secondary-color;
          padding:3px;
          margin-bottom:20px;
          color:white;
          width:80px;
          &:hover{
            opacity:0.7;
          }
        }
      }
    }
  }
}


// .div-footers{
//   height: 250px;
//   background-color:$third-color;
//   margin-bottom: 0;
//   margin-top:50px;
//   justify-content: center;
//   color:$fifth-color;
//   .col-2{
//     margin: auto 0;
//     img{
//       width:40px;
//       height:40px;
//     }
//   }
//   .title-info_footer{
//     margin-top:10px;
//     font-size: 15px;
//     font-weight: bold;
//     color:black;
//   }
// }

.div-time{
  justify-content: space-between;
  margin-top:15px;
}
.div-date{
  background-color: $third-color;
  padding:5px 10px;
  color: #393e46;
  width:200px;
  text-align: center;
  margin:auto;
}