.App {
  font-family: "Merienda", cursive;
  background-color: #eae7dc;
}

.div-login {
  padding: 30px;
  border-radius: 20px;
  opacity: 0.5;
  opacity: 0.9;
  font-family: "Merienda", cursive;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 370px;
  -webkit-box-shadow: 10px 10px 8px #6e6d6d;
          box-shadow: 10px 10px 8px #6e6d6d;
  background-color: #dee3e2;
}

.div-login button {
  width: 100%;
}

.div-login .image-login {
  margin: auto;
  text-align: center;
}

.container-monitor {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-monitor .div-left .div-left_bottom {
  border-style: solid;
  border-color: #838383;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-monitor .div-left .div-left_bottom h1 {
  text-align: center;
  font-size: 30px;
  opacity: 0.9;
  font-family: "Londrina Outline", cursive;
  margin-top: 60px;
  margin-left: 20px;
}

.container-monitor .div-left .div-left_bottom textarea {
  outline: none;
  font-size: 20px;
  color: #838383;
}

.div-top {
  font-weight: bold;
  text-align: center;
}

.card-antrian {
  margin-right: 10px;
  width: 530px;
  height: 220px;
  text-align: center;
  background-color: #eae7dc;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.card-antrian p {
  font-weight: bold;
  font-size: 20px;
}

.card-antrian .div-right {
  margin-left: 70px;
}

.card-antrian .div-antrian_title {
  height: 50px;
  background-color: #ffeaa7;
  margin-bottom: 10px;
}

.card-antrian .div-antrian_title p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.card-antrian .div-antrian_number {
  background-color: #ffeaa7;
  height: 70px;
  margin-bottom: 10px;
}

.card-antrian .div-antrian_number h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.card-antrian .div-antrian_poli {
  height: 50px;
  background-color: #ffeaa7;
  margin-bottom: 10px;
}

.card-antrian .div-antrian_poli p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.card-antrian2 {
  margin-right: 10px;
  width: 530px;
  height: 220px;
  text-align: center;
  background-color: #eae7dc;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.card-antrian2 p {
  font-weight: bold;
  font-size: 20px;
}

.card-antrian2 .div-right {
  margin-left: 70px;
}

.card-antrian2 .div-antrian_title {
  height: 50px;
  background-color: #ea8685;
  margin-bottom: 10px;
}

.card-antrian2 .div-antrian_title p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.card-antrian2 .div-antrian_number {
  background-color: #e66767;
  height: 70px;
  margin-bottom: 10px;
}

.card-antrian2 .div-antrian_number h1 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.card-antrian2 .div-antrian_poli {
  height: 50px;
  background-color: #ea8685;
  margin-bottom: 10px;
}

.card-antrian2 .div-antrian_poli p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.div-time {
  margin-top: 0;
  background-color: white;
}

.div-time p {
  font-size: 25px;
  margin: 10px;
}

img {
  border-radius: 1000px;
  height: 190px;
  width: 190px;
  margin: auto;
}

h2 {
  font-size: 20px;
  color: #8e8a8d;
  font-weight: bold;
  text-align: center;
}

.hover-logout:hover {
  font-size: 10px;
  color: #ea8685;
}

.hover-logout {
  font-size: 10px;
  color: #eae7dc;
}
/*# sourceMappingURL=index.css.map */