$font-one: 'Londrina Outline', cursive;
$font-two: 'Merienda', cursive;
$font-three: 'Monoton', cursive;
$primary-color: #eae7dc;
$secondary-color: #e66767;;
$third-color:#ea8685;
$fourth-color:#ffeaa7;
$fifth-color:#55efc4;
$sixth-color:#0097e6;
$seventh-color:#838383;

.App{
  font-family: $font-two;
  background-color: #eae7dc;
}
  
.div-login{
  padding:30px;
  border-radius: 20px;
  opacity:0.5;
  opacity: 0.9;
  font-family: $font-two;
  margin-top: 130px;
  justify-content: center;
  width:300px;
  box-shadow: 10px 10px 8px #6e6d6d;
  background-color: #dee3e2;
  button{
    width: 100%;
  }
  .image-login{
    margin: auto;
    text-align: center;
  }
}

.container-monitor{
  margin-top:40px;
}

.div-bottom{
 justify-content: flex-end;
 margin-right: 0;
}

.div-top{
  font-weight: bold;
  text-align: center;

  .div-antrian_number{
    background-color: $secondary-color;
    height: 100px;
    margin-bottom: 10px;
    p{
      font-size: 60px;
      font-weight: bold;
      text-align: center;
    }
  }
  .div-antrian_title{
    height: 60px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
    }
  }
  .div-antrian_poli{
    height: 60px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
     
    }
  }
}

.card-antrian{
  margin-right:10px;
  width:510px;
  height:200px;
  text-align: center;
  background-color: $fourth-color;
  p{
    font-weight: bold;
    font-size: 20px;
  }
}

.card-antrian2{
  margin-right:10px;
  width:510px;
  height:200px;
  text-align: center;
  background-color: $fifth-color;
  p{
    font-weight: bold;
    font-size: 20px;
  }
}

.div-time{
 margin-top:0;
  background-color: white;
  p{
    font-size:25px;
    margin:10px;
  }
}

img{
  border-radius: 1000px;
  height:200px;
  width:200px;
  margin:auto;
}

h2{
  font-size:20px;
  color:#8e8a8d;
  font-weight: bold;

}

.hover-logout:hover{
  font-size:10px;
  color:$third-color;
}
.hover-logout{
  font-size:10px;
  color: $primary-color;
}
 
    