$font-one: 'Merriweather', serif;
$font-two: 'Playfair Display SC', serif;
$font-three: 'Courgette', cursive;
$primary-color: #eae7dc;
$secondary-color: #e66767;;
$third-color:#ea8685;
$fourth-color:#ffeaa7;
$fifth-color:#55efc4;
$sixth-color:#0097e6;;

.App{
  font-family: $font-one;
  background-color: #eae7dc;
}
  
.div-login{
  font-family: $font-three;
  margin-top: 130px;
  width:300px;
  button{
    width: 100%;
  }
}

.container-monitor{
  margin-top:20px;
}

.div-bottom{
 justify-content: flex-end;
 margin-right: 0;
}

.div-top{
  font-weight: bold;
  text-align: center;

  .div-antrian_number{
    background-color: $secondary-color;
    height: 100px;
    margin-bottom: 10px;
    p{
      font-size: 60px;
      font-weight: bold;
      text-align: center;
    }
  }
  .div-antrian_title{
    height: 60px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
    }
  }
  .div-antrian_poli{
    height: 60px;
    background-color: $third-color;
    margin-bottom: 10px;
    p{
      font-weight: bold;
      text-align: center;
      font-size: 30px;
     
    }
  }
}

.card-antrian{
  margin-right:10px;
  width:510px;
  height:200px;
  text-align: center;
  background-color: $fourth-color;
  p{
    font-weight: bold;
    font-size: 20px;
  }
}

.card-antrian2{
  margin-right:10px;
  width:510px;
  height:200px;
  text-align: center;
  background-color: $fifth-color;
  p{
    font-weight: bold;
    font-size: 20px;
  }
}

.div-time{
 margin-top:0;
  background-color: white;
  p{
    font-size:25px;
    margin:10px;
  }
}

img{
  border-radius: 1000px;
  height:200px;
  width:200px;
  margin:auto;
}

h2{
  font-size:20px;
  color:#8e8a8d;
  font-weight: bold;

}
 
    